# VERSION 0.27

assignment-operator = end-line
break-before-in = fit-or-vertical
break-cases = fit-or-vertical
break-collection-expressions = fit-or-vertical
break-colon = after
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix = wrap
break-infix-before-func = false
break-separators = after
break-sequences = false
break-string-literals = auto
break-struct = force
cases-exp-indent = 2
cases-matching-exp-indent = compact
disambiguate-non-breaking-match = false
doc-comments = after-when-possible
doc-comments-padding = 2
doc-comments-tag-only = default
dock-collection-brackets = false
exp-grouping = parens
extension-indent = 2
field-space = loose
function-indent = 2
function-indent-nested = never
if-then-else = keyword-first
indent-after-in = 0
indicate-multiline-delimiters = space
indicate-nested-or-patterns = unsafe-no
infix-precedence = indent
leading-nested-match-parens = true
let-and = compact
let-binding-deindent-fun = false
let-binding-indent = 2
let-binding-spacing = compact
let-module = compact
margin = 100
match-indent = 0
match-indent-nested = never
max-indent = 68
module-item-spacing = sparse
nested-match = wrap
ocp-indent-compat = true
parens-ite = false
parens-tuple = always
parens-tuple-patterns = multi-line-only
parse-docstrings = true
parse-toplevel-phrases = false
sequence-blank-line = compact
sequence-style = separator
single-case = sparse
space-around-arrays = false
space-around-lists = false
space-around-records = false
space-around-variants = false
stritem-extension-indent = 0
type-decl = compact
type-decl-indent = 2
wrap-comments = false
wrap-fun-args = false
